.card {
  @apply fixed;
  height: 92vh;
}
ol {
  svg, img {
    @apply w-6 inline;
  }
  img {
    @apply absolute -top-1;
  }
}
.pseudo-apps {
  @apply flex justify-center;
  div {
    max-width: 80px;
    min-width: 80px;
    height: 80px;
    @apply rounded-2xl mx-3;
    img {
      @apply rounded-2xl;
    }
  }
}